{% extends 'base.html.twig' %}

{% block title %}Nova Secretaria{% endblock %}

{% block body %}
    <h3>Adicionar Secretaria</h3>

    {{ include('secretaria/_form.html.twig') }}

    <a href="{{ path('secretaria_index') }}"><button type="button" class="btn btn-sm btn-secondary"><i class="fa fa-arrow-circle-left"></i> Voltar</button></a>
{% endblock %}
